.pathLabels {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-pref-width: 550;
    -fx-pref-height: 30;
}
.infoLabels {
    -fx-pref-width: 340;
    -fx-pref-height: 25;
    -fx-font: 23px black;
    -fx-text-alignment: left;
    -fx-background-color: red;
}
.appTitle {
    -fx-pref-width: 796px;
    -fx-alignment:center;
}
.browseButtons {
    -fx-pref-width: 210;
    -fx-pref-height: 30;
}
.lineSeparator {
    -fx-pref-width:1590
}
